<!DOCTYPE html>
<html>
    <body>
 <div style="padding-top:200px">
        <h1>Hello!</h1>
        <h1>This is a web application that will help you to easily manage your employees responsabilities.</h1>
    <p>The application provides two roles: regular admin (only adds entities) and privileged admin (can delete and edit entities).</p>
    <div>You can quickly test the roles with the following credentials:</div>
    <div>*username: admin@test.com, password: Qwerty123$</div>
    <div>*username: cooladmin@test.com, password: Qwerty123$</div>
    </div>
    </body>
</html>
